<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-mapping PUBLIC
    "-//Hibernate/Hibernate Mapping DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd">
<hibernate-mapping>

    <class name="Databaze.Model.MereniEntity" table="Mereni" schema="">
        <id name="id" column="id"/>
        <property name="datum" column="datum"/>
        <property name="hodnota" column="hodnota"/>
        <property name="idMistaOdberu" column="idMistaOdberu"/>
        <many-to-one name="odberneMistoByIdMistaOdberu" class="Databaze.Model.OdberneMistoEntity">
            <column name="idMistaOdberu"/>
        </many-to-one>
    </class>
    <class name="Databaze.Model.OdberneMistoEntity" table="OdberneMisto" schema="">
        <id name="ean" column="ean"/>
        <property name="adresa" column="adresa"/>
        <set name="merenisByEan" inverse="true">
            <key>
                <column name="idMistaOdberu"/>
            </key>
            <one-to-many not-found="ignore" class="Databaze.Model.MereniEntity"/>
        </set>
        <set name="smlouvasByEan" inverse="true">
            <key>
                <column name="idMistaOdberu"/>
            </key>
            <one-to-many not-found="ignore" class="Databaze.Model.SmlouvaEntity"/>
        </set>
    </class>
    <class name="Databaze.Model.PlatbaEntity" table="Platba" schema="">
        <id name="id" column="id"/>
        <property name="datum" column="datum"/>
        <property name="idSmlouvy" column="idSmlouvy"/>
        <many-to-one name="smlouvaByIdSmlouvy" class="Databaze.Model.SmlouvaEntity">
            <column name="idSmlouvy"/>
        </many-to-one>
    </class>
    <class name="Databaze.Model.ProduktyEntity" table="Produkty" schema="">
        <id name="id" column="id"/>
        <property name="cena" column="cena"/>
        <property name="limit" column="limit"/>
        <property name="popis" column="popis"/>
        <set name="smlouvasById" inverse="true">
            <key>
                <column name="idProduktu"/>
            </key>
            <one-to-many not-found="ignore" class="Databaze.Model.SmlouvaEntity"/>
        </set>
    </class>
    <class name="Databaze.Model.SmlouvaEntity" table="Smlouva" schema="">
        <id name="id" column="id"/>
        <property name="datumPocatku" column="datumPocatku"/>
        <property name="datumVyprseni" column="datumVyprseni"/>
        <property name="idZakaznika" column="idZakaznika"/>
        <property name="idMistaOdberu" column="idMistaOdberu"/>
        <property name="idProduktu" column="idProduktu"/>
        <many-to-one name="zakaznikByIdZakaznika" class="Databaze.Model.ZakaznikEntity">
            <column name="idZakaznika"/>
        </many-to-one>
        <many-to-one name="odberneMistoByIdMistaOdberu" class="Databaze.Model.OdberneMistoEntity">
            <column name="idMistaOdberu"/>
        </many-to-one>
        <many-to-one name="produktyByIdProduktu" class="Databaze.Model.ProduktyEntity">
            <column name="idProduktu"/>
        </many-to-one>
        <set name="platbasById" inverse="true">
            <key>
                <column name="idSmlouvy"/>
            </key>
            <one-to-many not-found="ignore" class="Databaze.Model.PlatbaEntity"/>
        </set>
    </class>
    <class name="Databaze.Model.ZakaznikEntity" table="Zakaznik" schema="">
        <id name="id" column="id"/>
        <property name="jmeno" column="jmeno"/>
        <property name="prijmeni" column="prijmeni"/>
        <property name="adresa" column="adresa"/>
        <set name="smlouvasById" inverse="true">
            <key>
                <column name="idZakaznika"/>
            </key>
            <one-to-many not-found="ignore" class="Databaze.Model.SmlouvaEntity"/>
        </set>
    </class>
</hibernate-mapping>